<div class="recommendation-engine-wrapper">
  <div
    *ngIf="generatingSession"
    fxLayout="row"
    fxLayoutAlign="center center"
    class="full loading-wrapper"
  >
    <div style="width: 40vw;">
      <div>Generating Recommendation Session...</div>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </div>
  <div
    *ngIf="(recommendationSessionUpdated | async) == null"
    class="search-box-wrapper"
    fxLayout="row"
    fxLayoutAlign="center center"
  >
    <mat-card class="search-box center-search">
      <mat-card-header>
        <mat-card-title>Search</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-parameter-box
          (searchParameters)="onSearchParameters($event)"
          class="full"
        ></app-parameter-box>
      </mat-card-content>
    </mat-card>
  </div>
</div>
