<mat-form-field
  appearance="standard"
  class="full-width"
  style="position: relative;"
>
  <mat-chip-list>
    <mat-chip *ngIf="usingCurrentLocation"
      >Current location
      <mat-icon matChipRemove (click)="stopUsingCurrentLocationHandler()"
        >cancel</mat-icon
      ></mat-chip
    >
  </mat-chip-list>
  <!---
  On input change, fire null event, so the input gets marked as dirty (the user has modified the value)
  This works because the input event is not fired when the location autocomplete is selected (preventing two events
  from firing)
  --->
  <input
    matInput
    matGoogleMapsAutocomplete
    [disabled]="usingCurrentLocation"
    (focusout)="updateAsTouchedIfNotAlreadyTouched()"
    (input)="autocompleteChangeHandler(null)"
    (onLocationSelected)="autocompleteChangeHandler($event)"
  />
  <button
    mat-icon-button
    matSuffix
    (click)="useCurrentLocationHandler()"
    matTooltip="Use current location"
  >
    <mat-icon>location_searching</mat-icon>
  </button>
</mat-form-field>
