@import "../../styles.scss";

mat-option {
  user-select: none !important;
}
.field-wrapper {
  @extend .full;
}
.submit-button-wrapper {
  margin-top: 20px;

  button {
    padding: 0;
    width: 100%;
  }
}
