<div
  *ngIf="!!currentElection"
  class="full"
  fxLayout="row"
  fxLayoutAlign="center center"
>
  <mat-card class="election-code-card">
    <mat-card-content
      ><h2>Your RCV code is:</h2>
      <h1>{{ currentElection.activeId }}</h1>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <h3>Candidates</h3>
    <ul>
      <li *ngFor="let candidate of currentElection.candidates">
        {{ candidate.name }} ({{ candidate.nominatorNickname }})
      </li>
    </ul>
  </mat-card>
  <mat-card>
    <button (click)="updateElectionStatus(electionStatusEnum.VOTING)">
      Move to voting
    </button>
  </mat-card>
  <mat-card>
    <h5>{{ currentElection.electionStatus }}</h5>
  </mat-card>
</div>
