<div class="flex flex-col justify-center items-center space-y-5">
  <div class="cssload-container">
    <div class="cssload-circle-1">
      <div class="cssload-circle-2">
        <div class="cssload-circle-3">
          <div class="cssload-circle-4">
            <div class="cssload-circle-5">
              <div class="cssload-circle-6">
                <div class="cssload-circle-7">
                  <div class="cssload-circle-8"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    id="loading-phrases"
    [@loadingPhrasesAnimation]="loadingPhraseVisible"
    (@loadingPhrasesAnimation.done)="onAnimationComplete($event)"
  >
    <h2>{{ loadingPhrases[currentWordIdx] }}</h2>
  </div>
</div>
